
/* Colors
---------------------------------------------------------------------------------------------------- */

$color-site-bg:				#f5f5f5;
$color-body:					#333;
$color-link:					#e5554e;
$color-link-visited:	$color-link;
$color-link-hover:		#333;
$color-button-bg:			#333;
$color-button-hover:  #e5554e;