/* Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: $color-container-bg;
	font-size: 16px;
	padding: 40px 5%;
	text-align: center;
	p {
		margin-bottom: 0;
	}
}