/* Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* Site Containers
--------------------------------------------- */

.site-container {
	background-color: #fff;
	margin: 0 auto;
}

.site-inner {
	clear: both;
	padding-left: 8%;
	padding-right: 8%;
	padding-top: 60px;
}