
/* Variables
---------------------------------------------------------------------------------------------------- */

$font-sans:  Lato, sans-serif;
$font-serif: Georgia, Times, "Times New Roman", serif;
$font-mono:  "Courier 10 Pitch", Courier, monospace;

$base-font-size: 18px;
$base-font-family: Lato, sans-serif;
$base-font-weight: 400;

$heading-font-family: $font-sans;
$heading-font-weight: 700;
$heading-font-line-height: 1.2;

$base-border: 1px solid #ddd;